<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="wi24" translate="label" sortOrder="10">
            <label>WEBiDEA</label>
        </tab>
        <section id="wi24_disable_frontend_docs" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Disable frontend documents</label>
            <tab>wi24</tab>
            <resource>Webidea24_DisableFrontendDocuments::config</resource>

            <group id="invoices" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Invoices</label>
                <field id="disabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Disabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>

            <group id="shipments" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Shipments</label>
                <field id="disabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Disabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>

            <group id="creditmemos" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Creditmemos</label>
                <field id="disabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Disabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>

        </section>
    </system>
</config>
